body {
    background-color: #5874ac;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #353f4b;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

.nav-title {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    font-weight: 900;
    color: #5B89C7;
}

.main-bg {
    background-image: url("https://res.cloudinary.com/diabekki/image/upload/v1635535942/pexels-nataliya-vaitkevich-6942081_iwuft6.jpg");
    background-repeat: no-repeat;
}

.card {
    border-color: royalblue;
    border-radius: 15px 50px 30px;
    background-color:#ffffff;
    height: 70vh;
}

.image-container {
    position: relative;
    max-height: 30vh;
}
/* 
.image-container>img{
    height: 100%;
} */

.card-img-top{
    height: 100%;
}

.author {
    color: #353f4b; 
    min-width: 30%;
    left: -2px;
    text-transform: uppercase;
}



.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-update{
    background-color: #5B89C7;
}

.btn-delete{
    background-color: tomato;
}

.btn {
    color: white;
}

.btn-signup {
    background-color: #5B89C7;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #5B89C7;
}

.link {
    color: #5B89C7;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: tomato;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: tomato;
    background: transparent;
    border: none;
}

.footer {
    background-color: #ffffff;
}

.footer-text{
    color: #445261;
}
.about-container {
    background-color:white;
    width: auto;
    height: auto;
    padding: 20px;
    margin-top: 2rem;
    border-radius: 15px 50px 30px;
    margin-bottom: 5%; 
}
 
.about-text {
    width: auto;
    padding: 20px;
}  
