{% extends "base.html" %}

{% block content %}

<h1>PROFILE</h1>
<br>

<div class="container">
    <h2 class="fs-3">Published Recipes</h2>

    <div class="row">

        <div class="col-12 mt-3 left">
            <div class="row">

                {% for recipe in published %}

                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipe.recipe_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/diabekki/image/upload/v1635610273/pexels-pavel-danilyuk-7653347_1_dzj4ii.jpg"
                                    alt="Cloudinary Image">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipe.recipe_image.url }}">
                                {% endif %}
                                <div class="author">
                                    <p class="author">Author: {{ recipe.creator }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
                                <h2 class="card-title">{{ recipe.recipe_name }}</h2>
                                <p class="card-text">{{ recipe.highlight }}</p>
                            </a>
                            <hr />
                            <p class="card-text h6" style="color: #5B89C7;">{{ recipe.created}} <i
                                    class="far fa-heart"></i>
                                {{ recipe.number_of_loves }}</p>
                            {% if user.is_authenticated and user == recipe.creator %}
                            <a href="{% url 'update' recipe.slug %}" class="btn-update btn" role="button">Update</a>
                            <a href="{% url 'delete' recipe.slug %}" class="btn-delete btn" role="button">Delete</a>
                            {% elif user.is_superuser %}
                            <a href="{% url 'delete' recipe.slug %}" class="btn-delete btn" role="button">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% empty %}
                <p class="empty-text">You have no recipes published </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <h2 class="fs-3">Draft Recipes</h2>


    <div class="row">

        <div class="col-12 mt-3 left">
            <div class="row">

                {% for recipe in drafts %}

                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipe.recipe_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/diabekki/image/upload/v1635610273/pexels-pavel-danilyuk-7653347_1_dzj4ii.jpg"
                                    alt="Cloudinary Image">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipe.recipe_image.url }}">
                                {% endif %}
                                <div class="author">
                                    <p class="author">Author: {{ recipe.creator }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
                                <h2 class="card-title">{{ recipe.recipe_name }}</h2>
                                <p class="card-text">{{ recipe.highlight }}</p>
                            </a>
                            <hr />
                            <p class="card-text h6" style="color: #5B89C7;">{{ recipe.created}} <i
                                    class="far fa-heart"></i>
                                {{ recipe.number_of_loves }}</p>
                            {% if user.is_authenticated and user == recipe.creator %}
                            <a href="{% url 'update' recipe.slug %}" class="btn-update btn" role="button">Update</a>
                            <a href="{% url 'delete' recipe.slug %}" class="btn-delete btn" role="button">Delete</a>
                            {% elif user.is_superuser %}
                            <a href="{% url 'delete' recipe.slug %}" class="btn-delete btn" role="button">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% empty %}
                <p class="empty-text">You have no recipes saved as a draft </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <h2 class="fs-3">Recipes that I love</h2>
    <div class="row">


        <div class="col-12 mt-3 left">
            <div class="row">

                {% for recipe in loves %}

                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipe.recipe_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/diabekki/image/upload/v1635610273/pexels-pavel-danilyuk-7653347_1_dzj4ii.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipe.recipe_image.url }}">
                                {% endif %}
                                <div class="author">
                                    <p class="author">Author: {{ recipe.creator }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
                                <h2 class="card-title">{{ recipe.recipe_name }}</h2>
                                <p class="card-text">{{ recipe.highlight }}</p>
                            </a>
                            <hr />
                            <p class="card-text h6" style="color: #5B89C7;">{{ recipe.created}} <i
                                    class="far fa-heart"></i>
                                {{ recipe.number_of_loves }}</p>
                            {% if user.is_authenticated and user == recipe.creator %}
                            <a href="{% url 'update' recipe.slug %}" class="btn-update btn" role="button">Update</a>
                            <a href="{% url 'delete' recipe.slug %}" class="btn-delete btn" role="button">Delete</a>
                            {% elif user.is_superuser %}
                            <a href="{% url 'delete' recipe.slug %}" class="btn-delete btn" role="button">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% empty %}
                <p class="empty-text">You have no recipes favourited </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}